<div class="page-header">    
    <h2>Migration Auto Runner<small>(beta)</small></h2>
</div>
<div class="grid">
    <div class="col">
        <form #connForm="ngForm">
            <div class="form-fields-group">
                <div class="form1">
                    <label for="name">Load connection from saved</label>
                    <select class="form-control" [(ngModel)]="selectedConnInfoStr" name = "profileName" (ngModelChange)="onSelectedChanged($event)">
                        <option *ngFor="let c of connectionInfoList" [value]="c.profileName">{{c.profileName}}</option>
                    </select>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>ProfileName</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of connectionInfoList; let i = index" (click)="onSelected(c)">
                            <td>{{c.id}}</td>
                            <td>{{c.profileName}}</td>
                        </tr>
                    </tbody>
                </table>
                
            <p-dataTable [value]="connectionInfoList" [paginator]="true" [rows]="10" [responsive]="true">
                <p-column field="id" header="ID" [sortable]="true"></p-column>
                <p-column field="profileName" header="ProfileName" [sortable]="true"></p-column>
            </p-dataTable>
            <connection-detail [connInfo] = "selectedConnInfo"></connection-detail>
                <button type="submit" class="btn btn-primary" (click)="connectWithSelected()">Load</button>
                <button type="submit" class="btn btn-default" (click)="deleteSelected()">Delete selected</button>
            </div>
                
        </form>
    </div>
</div>